/* =====----- Home Style Sheet -----===== */

/* ==========_____ VARIABLES _____========== */

// Light Colours
$headFootGrey: #cacaca;
$navHover: #565656;

// Dark Colours
$headFootGrey: #cacaca;

// Spacing
$headFootSpace: 20px;

/* ==========^^^^^^^^^^ END ^^^^^^^^^^========== */

/* ==========_____ Main Styles _____========== */

html * {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 300;
	color: black;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;	
}

header {
	
	background-color: $headFootGrey;
	padding: $headFootSpace;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	nav {
		
		display: flex;
		justify-content: space-between;
		
		min-width: 150px;
		
		a {
			color: black;
		}
		
		a:hover {
			color: $navHover;
		}
	}
	
}

body {
	
	position: relative;
	height: 100vh;

	main {
		
		margin: 20px;
		
		div {
			
			h2 {
				margin-bottom: 10px;
			}
			
			pre {
				font-family: monospace;
				background: #f4f4f4;
				text-align: center;
				
				padding: 10px;
				margin-bottom: 10px;
			}
			
			a {
				display: block;
				margin-bottom: 5px;
			}
			
			a:hover {
				color: blue;
			}
			
		}
		
		div.hint {
			
			a:hover {
				color: red;
			}
			a.correctAnswer:hover {
				color: green;
			}
		}
	}
	
	footer {
		
		position: absolute;
		bottom: 0;
		width: 100%;
		
		padding: $headFootSpace;
		
		background-color: $headFootGrey;
		
		display: flex;
		justify-content: space-between;
		
		div.hint {
			a:hover{
				color: $navHover;
			}
		}
	}
}

body.dark {
	
	background-color: black;
	
	main {
		
		p {
			color: white;
		}
		
		div {
			
			h2 {
				color: white;
			}
			
			pre {
				background: #e4e4e4;
			}
			
			a {
				color:white;
			}
			
			a:hover {
				color: aqua;
			}
			
		}
		
		div.hint {
			
			a:hover {
				color: red;
			}
			
			a.correctAnswer:hover {
				color: green;
			}
		}	
	}
}




