/* =====----- Home Style Sheet -----===== */

/* ==========_____ VARIABLES _____========== */

// Greys, light -> dark

$grey1: #f4f4f4;
$grey2: #e4e4e4;
$grey3: #cacaca;
$grey4: #565656;

// Spacing
$headFootSpace: 20px;

/* ==========^^^^^^^^^^ END ^^^^^^^^^^========== */

/* ==========_____ Main Styles _____========== */

html * {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 300;
	color: black;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;	
}

body {

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
	
	header {
		flex-shrink: 0;
		
		background-color: $grey3;
		padding: $headFootSpace;
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		nav {
			
			display: flex;
			justify-content: space-between;
			
			min-width: 150px;
			
			a {
				color: black;
			}
			
			a:hover {
				color: $grey4;
			}
		}
	}
	
	main {
		
		margin: 20px;
	    overflow: auto;
	    flex-grow: 1;
	    
		div.question {
			
			h2 {
				margin-bottom: 10px;
			}
			
			pre {
				font-family: monospace;
				background: #f4f4f4;
				text-align: center;
				
				padding: 10px;
				margin-bottom: 10px;
			}
			
			a {
				display: block;
				margin-bottom: 5px;
			}
			
			a:hover {
				color: blue;
			}
			
		}
		
		div.hint.question {
			
			a:hover {
				color: red;
			}
			a.correctAnswer:hover {
				color: green;
			}
		}
		
		div.results {
			
			text-align: center;
			
			nav {
				display: flex;
				justify-content: space-between;
				margin: 0 5vw;
				
				a {
					width: 100%;
					text-align: center;
					padding: 2px;
					
					background-color: $grey3;
					
					margin-right: 5px;				
				}
				
				a:nth-child(3) {
					background-color: white;
					border: 1px solid $grey3;
				}
				
				a:hover {
					background-color: $grey2;
				}
				
				a.active {
					background-color: gray;
				}
			}	
		}
	}
	
	footer {
		
		flex-shrink: 0;
		
		padding: $headFootSpace;	
		
		background-color: $grey3;

		display: flex;
		justify-content: space-between;
		
		div.hint {
			a:hover{
				color: $grey4;
			}
		}
	}
}

body.dark {
	
	background-color: black;

	main {

		p, h2, a {
			color: white;
		}
		
		div.question {
			
			pre {
				background: #e4e4e4;
			}
			
			a:hover {
				color: aqua;
			}
			
		}
		
		div.hint.question {
			
			a:hover {
				color: red;
			}
			
			a.correctAnswer:hover {
				color: green;
			}
		}
		
		div.results {
			
			nav {
				a {
					color: black;			
				}
			}	
		}
	}
}




